__pycache__/auxilliary.cpython-37.pyc
__pycache__/B01.cpython-37.pyc
__pycache__/B02.cpython-37.pyc
__pycache__/B03.cpython-37.pyc
__pycache__/B04.cpython-37.pyc
__pycache__/F01.cpython-37.pyc
__pycache__/F02.cpython-37.pyc
__pycache__/F03.cpython-37.pyc
__pycache__/F04.cpython-37.pyc
__pycache__/F05.cpython-37.pyc
__pycache__/F06.cpython-37.pyc
__pycache__/F07.cpython-37.pyc
__pycache__/F08.cpython-37.pyc
__pycache__/F09.cpython-37.pyc
__pycache__/F10.cpython-37.pyc
__pycache__/F11.cpython-37.pyc
__pycache__/F12.cpython-37.pyc
__pycache__/F13.cpython-37.pyc
__pycache__/F14.cpython-37.pyc
__pycache__/F15.cpython-37.pyc
__pycache__/F16.cpython-37.pyc
